@page "/Product/Delete/{id:int}"
@using GuruNanak.Database
@using GuruNanak.Services
@inject ICatalogService CatalogService
@inject NavigationManager NavigationManager
@inject ILogger<Delete> Logger


<div class="container">
    <div class="row mt-4">
        <img class="col-md-6 esh-picture" src="@($"/Pics/{_item.Name}.png")">
        <dl class="col-md-6 dl-horizontal">
            <dt>
                Name
            </dt>

            <dd>
                @_item.Name
            </dd>

            <dt>
                Category
            </dt>

            <dd>
                @{
                    string catalogTypeName = _item.ProductCategory != null ? _item.ProductCategory.Type : String.Empty;
                }
                @catalogTypeName
            </dd>
            <dt>
                Price
            </dt>

            <dd>
                @_item.Price
            </dd>
            
            <dt></dt>

            <dd class="text-right esh-button-actions">
                <a href="/Product/Index" class="btn btn-secondary ">
                    [ Cancel ]
                </a>
                <button class="btn btn-primary " @onclick="Delete_Click">
                    [ Delete ]
                </button>
            </dd>

        </dl>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Product _item;

    protected override void OnInitialized()
    {
        Logger.LogInformation("Now loading... /Product/Delete/{Id}", Id);

        _item = CatalogService.FindCatalogItem(Id);
    }

    private void Delete_Click()
    {
        CatalogService.RemoveCatalogItem(_item);

        NavigationManager.NavigateTo("/Product/Index");
    }
}
